@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f0f0f0;
  --card: #ffffff;
  --border: #dcdcdc;
  --text: #000;
  --text2: #636363;
  --sec: #f5792e;
  --sec-faded: #fcd8c2;
  --pri: #1987cf;
  --pri-faded: #d5e9f6;
  --active-nav: #5cb7f38d;
  --my-chat: #5cb7f3c5;
  --friend-chat: #ffffff;
  --red: #e62424;
  --red-faded: #eb48483f;
  --green: #45a206;
  --green-faded: #a0ed6d42;
  --yellow: #c77026;
  --yellow-faded: #efc90d60;
  --white: #ffffff;
  --from: #f9fafb;
  --to: #ffffff;
}

* {
  @apply tracking-wide;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-bg;
}

html {
  scroll-behavior: smooth;
}

@import "github-markdown-css";

.title {
  @apply md:text-[2rem] text-[1.5rem] text-pri mb-4 font-extrabold uppercase;
}
